[data-focuser] {
  *:not(.a11y-focuser):focus {
    outline: none;
  }
}

.a11y-focuser {
  height: 0;
  outline: 4px solid orange;
  pointer-events: none;
  position: absolute;
  transition:
    height 0.1s ease,
    width 0.1s ease,
    top 0.2s ease,
    left 0.2s ease;
  visibility: hidden;
  width: 0;
  z-index: 1000;

  &.-focus {
    visibility: visible;
  }
}